@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Feel free to test the Member management App. You can choose between Entity Framework or Dapper to work with the data.</p>
</div>
